<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/assets/css/element_style.css" type="text/css" />
		<title>Blow up an element!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../models/element.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>