<li>
	{{name}}

	<button class="change-blown-up" data-toggle="modal" data-target="#exampleModalCenter" data-id="{{id}}" data-blownstate="{{blown_up}}">
		{{#unless blown_up}}Blow Me Up!{{/unless}}
	</button>
</li>