body {
    background-image: url("../img/blow-up-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, label {
    font-family: 'Sigmar One', cursive;
    color: blue;  
}

/* h1 {
text-align: center;
} */

ol {
    list-style-position: inside;
}

ul, ol {
    font-family: 'Julius Sans One', sans-serif;
    color: white; 
}

button {
    font-family: 'Permanent Marker', cursive;
}

.img-element {
    display: block;
    margin-left: auto;
    margin-right: auto;
}